@model PharmaKursWork.ViewModels.ChallengeViewModels.ChallengeViewModel
@inject PharmaKursWork.Servises.UserServise userService;
@{
    var isCurrentUserAdmin = userService.isCurrentUserAdmin();
}
<div class="text-center">
    <div>
        <form asp-action="Index" asp-controller="Challenge" method="get">
            <div class="mb-3 row align-items-center">
                <div class="col-auto">
                    <label for="MedName" class="col-form-label">@Html.DisplayNameFor(_ => Model.FilterViewModel.Name)</label>
                </div>
                <div class="col-auto flex-grow-1">
                    <input asp-for="FilterViewModel.Name" class="form-control" id="MedName">
                </div>
            </div>
            <div class="mb-3 row align-items-center">
                <div class="col-auto">
                    <label for="Expenses" class="col-form-label">@Html.DisplayNameFor(_ => Model.FilterViewModel.MinChallegesStart)</label>
                </div>
                <div class="col-auto flex-grow-1">
                    <input asp-for="FilterViewModel.MinChallegesStart" class="form-control" id="Expenses">
                </div>
            </div>
            <div class="mb-3 row align-items-center">
                <div class="StartExploring">
                    <label for="FirstName" class="col-form-label">@Html.DisplayNameFor(_ => Model.FilterViewModel.MaxChallegesStart)</label>
                </div>
                <div class="col-auto flex-grow-1">
                    <input asp-for="FilterViewModel.MaxChallegesStart" class="form-control" id="StartExploring">
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Пошук</button>
        </form>
        <a class="btn btn-primary mt-2" asp-action="Index" asp-controller="Challenge">Скинути</a>
    </div>
    @if (isCurrentUserAdmin) {
        <button type="button" 
                class="btn btn-primary ks-addbutton rounded-circle d-flex p-3"
            data-action="@Url.Action("AddChallenge", "Challenge")">
            <img style="width: 40px; height: 40px" src="icons/plus.svg" />
        </button>
    }
    <div class="modal-container"></div>
    <!-- Modal -->
    @if (Model.List.Count > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <td></td>
                    <td>@Html.DisplayNameFor(_ => Model.View.Name)</td>
                    <td>@Html.DisplayNameFor(_ => Model.View.ChallegesStart)</td>
                    <td>@Html.DisplayNameFor(_ => Model.View.MedName)</td>
                    <td>@Html.DisplayNameFor(_ => Model.View.TechStaffName)</td>
                    <td>@Html.DisplayNameFor(_ => Model.View.ScientistName)</td>
                </tr>
            </thead>
            <tbody>

                @foreach (var chal in Model.List)
                {
                    <tr>
                        <td class="align-middle">
                            @if(isCurrentUserAdmin)
                            {
                                <button class="ks-tablebuttons editButton" data-action="@Url.Action("EditChallenge", "Challenge", new { id = chal.Id })"><img src="icons/pencil-square.svg" /></button>
                                <a class="ks-tablebuttons deleteButton" asp-action="Delete" asp-controller="Challenge" asp-route-id="@chal.Id"><img src="icons/trash3-fill.svg" /></a>
                            }
                        </td>
                        <td class="align-middle">@chal.Name</td>
                        <td class="align-middle">@chal.ChallegesStart</td>
                        <td class="align-middle">@chal.MedName</td>
                        <td class="align-middle">@chal.TechStaffName</td>
                        <td class="align-middle">@chal.ScientistName</td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <div class="d-flex justify-content-center"><h3>Данних немає</h3></div>
    }
</div>

<script>
    $(function () {
        const addButtons = document.querySelectorAll(".ks-addbutton");

        const deleteButtons = document.querySelectorAll(".deleteButton");
        deleteButtons.forEach((button, index) => {
            if ((index + 1) % 2 === 0) {
                button.classList.add("ks-wbg");
            }
        })

        const editButtons = document.querySelectorAll(".editButton");
        editButtons.forEach((button, index) => {
            if ((index + 1) % 2 === 0) {
                button.classList.add("ks-wbg");
            }
        });

        $(editButtons).on('click', (event) => {
            event.preventDefault();
            $.get($(event.currentTarget).data("action"), (resp) => {
                $(".modal-container").html(resp);
                $('#idi').modal('show');
            })
        });

        $(addButtons).on('click', (event) => {
            event.preventDefault();
            $.get($(event.currentTarget).data("action"), (resp) => {
                $(".modal-container").html(resp);
                $('#idi').modal('show');
            })
        });
    });
</script>